<html>
  <head>
    <title>Chic - Classes</title>
    <link href="/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1><a href="/">Chic</a> - Classes</h1>

    <p>
      Total number of classes loaded: {0}
    </p>

    <p>
      VM loaded class count: {1}
    </p>

    <p>
      VM unloaded class count: {2}
    </p>

    <p>
      VM total loaded class count: {3}
    </p>

    <table class="bordered">
      <thead>
        <tr>
          <th>Class Name</th>
        </tr>
      </thead>

      <tbody>
        {4}
      </tbody>
    </table>
  </body>
</html>
