<html>
  <head>
    <title>Chic</title>
    <link href="/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1>Chic</h1>

    <p>
      <a href="/classes">View all classes</a>
    </p>

    <p>
      <a href="/logged_classes">View logged classes</a>
    </p>

    <p>
      <a href="/packages">Package counts</a>
    </p>

    <p>
      <a href="/logged_packages">View logged packages</a>
    </p>

    <form method="post" action="/shutdown">
      <input type="submit" value="shutdown" />
    </form>
  </body>
</html>
