<html>
  <head>
    <title>Chic - Logged Classes</title>
    <link href="/application.css" rel="stylesheet" />
    <script src="/application.js"></script>
  </head>

  <body>
    <h1><a href="/">Chic</a> - Logged Classes</h1>

    <p>
      View as: <a href="/logged_classes.txt">text</a>, <a href="/logged_classes.csv">csv</a>
    </p>

    <p>
      Total number of classes logged: {0}
    </p>

    <p>
      Time first class was logged at: {1}
    </p>

    <p>
      Time last class was logged at: {2}
    </p>

    {3}
  </body>
</html>
