<html>
  <head>
    <title>Chic - Logged Package: {0}</title>
    <link href="/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1><a href="/">Chic</a> - <a href="/packages">Logged Package</a>: {0}</h1>

    <p>
      Total number of classes logged: {1}
    </p>

    <p>
      Time first class was logged at: {2}
    </p>

    <p>
      Time last class was logged at: {3}
    </p>

    <table class="bordered">
      <thead>
        <tr>
          <th>Class Name</th>
          <th>Loaded From</th>
          <th>Loaded At</th>
        </tr>
      </thead>

      <tbody>
        {4}
      </tbody>
    </table>
  </body>
</html>
