<html>
  <head>
    <title>Chic - Logged Packages</title>
    <link href="/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1><a href="/">Chic</a> - Logged Packages</h1>

    <p>
      Total number of packages logged: {0}
    </p>

    <table class="bordered">
      <thead>
        <tr>
          <th>Package Name</th>
          <th>Number of Classes</th>
          <th>First Logged At</th>
          <th>Last Logged At</th>
        </tr>
      </thead>

      <tbody>
        {1}
      </tbody>
    </table>
  </body>
</html>
