<html>
  <head>
    <title>Chic - Logged Packages</title>
    <link href="/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1><a href="/">Chic</a> - Logged Packages</h1>

    <p>
      View as: <a href="/logged_packages.txt">text</a>, <a href="/logged_packages.csv">csv</a>
    </p>

    <p>
      Total number of packages logged: {0}
    </p>

    <p>
      Total number of classes logged: {1}
    </p>

    <p>
      Time first class was logged at: {2}
    </p>

    <p>
      Time last class was logged at: {3}
    </p>

    {4}
  </body>
</html>
