<html>
  <head>
    <title>Chic - Package: {0}</title>

    <style type="text/css">
      table.bordered, table.bordered th, table.bordered td '{' border: 1px solid #000000; '}'
    </style>
  </head>

  <body>
    <h1><a href="/">Chic</a> - <a href="/packages">Package</a>: {0}</h1>

    <p>
      Total number of classes loaded: {1}
    </p>

    <table class="bordered">
      <thead>
        <tr>
          <th>Class Name</th>
        </tr>
      </thead>

      <tbody>
        {2}
      </tbody>
    </table>
  </body>
</html>
